.img{
    display: inline-block;
}
.user-details{
    display: inline-block;
    margin: 10px;
}
.user-details .hdr-name, 
.user-details .hdr-position,
.user-details .hdr-manager{
    display: inline-block;
    margin-right: 3vw;
    width: 5vw;
}
.user-details .val-name, 
.user-details .val-position,
.user-details .val-manager
{
    display: inline-block;   
}

.img-wrapper{
    width: 75px;
    height: 100px;
    overflow: hidden;
    margin: 10px;
    margin-left: 4vw;
    margin-top: 10vh;
}
img{
    height: 100px;
    position: relative;
    top: 0px;
    left: -28px;
}
.viewer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
}

